<!DOCTYPE HTML>

<html>
	<head>
		<title>Skladišče podjetja Ekol</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type="text/css" href='static/assets/css/main.css' />
        <script type="text/javascript" src="static/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="static/assets/js/browser.min.js"></script>
		<script type="text/javascript" src="static/assets/js/breakpoints.min.js"></script>
		<script type="text/javascript" src="static/assets/js/util.js"></script>
		<script type="text/javascript" src="static/assets/js/main.js"></script>
		
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="domov">Ekol</a>
				<nav>
					<a href="#menu">Meni</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="domov">Domov</a></li>
					<li><a href="template/elements.html">Elements</a></li>
					<li><a href="template/generic.html">Generic</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>SKLADIŠČE</h1>
			</div>

		<!-- Main -->
			

        {{!base}}


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					
					<div class="copyright">
						&copy; 2021, {{data["developer_name"]}}, {{data["developer_organization"]}}
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script type="text/javascript" src="static/assets/js/jquery.min.js"></script>
			<script type="text/javascript" src="static/assets/js/browser.min.js"></script>
			<script type="text/javascript" src="static/assets/js/breakpoints.min.js"></script>
			<script type="text/javascript" src="static/assets/js/util.js"></script>
			<script type="text/javascript" src="static/assets/js/main.js"></script>
		
	</body>
</html>